.listPure {
  border: 1px dotted greenyellow;
  min-width: 1vw;
  min-height: 1vh;
  overflow: auto;
}

.listPure > button {
  margin: 1rem;
}

.text-shadow {
  text-shadow: 0.1em 0.1em 0 hsl(200 50% 30%);
  font-size: 3rem;
  font-weight: 900;
  color: hsl(200 50% 90%);
  font-family: 'Fugaz One', cursive;
  background: hsl(200 50% 50%);
  line-height: 1.1;
  padding: 5vmin;
  max-inline-size: 30ch;
}

code {
  color: white;
}

@media (max-width: 780px) {
  .text-shadow {
    font-size: 1rem;
  }
}

.text-secret {
  text-shadow: 0.1em 0.1em 0 hsl(200 50% 30%);
  font-size: 2rem;
  font-weight: 500;
  color: rgba(170, 234, 21, 0.783);
  font-family: 'Comic Sans Ms', cursive;
  background: rgba(17, 191, 84, 0.422);
  line-height: 1.1;
  padding: 2vmin;
  max-inline-size: 10ch;
}

.centered-row {
  text-align: center;
  align-items: center;
}

.text-man {
  color: rgba(170, 34, 221, 0.783);
  font-family: 'Comic Sans Ms', cursive;
}

.text-woman {
  color: rgba(12, 178, 121, 0.783);
  font-family: 'Comic Sans Ms', cursive;
}

.text-name {
  text-shadow: 0.1em 0.1em 0 hsl(200 50% 30%);
  font-size: 1rem;
  font-weight: 200;
  color: rgba(170, 234, 21, 0.783);
  font-family: 'Comic Sans Ms', cursive;
}
